@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Ceviche+One&family=Exo:wght@200;300;400&family=Roboto:wght@400;500;700&display=swap');

:root {
    --dark-red: #421313;
    --red: #763434;
    --light-red: #BF1F1F;
    --bright-red: #FF9593;
    --black: #01090D;
    --white: #e6f1ff;
    --green: #80F8FF;
    /*#8C1616 */
}

::-webkit-scrollbar {
    width: .6vw;
    background-color: var(--dark-red);
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-red);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

/*------------------------------------navbar styling */
.navbar {
    background-color: var(--dark-red);
    transition: top 0.3s;
}

.navbar-brand {
    margin-left: 1rem;
    margin-right: 0;
    font-size: 26px;
    color: var(--white);
}

.navbar-brand:hover {
    color: var(--black);
}

.logo1 {
    font-family: 'Ceviche One', cursive;
}

.logo2 {
    font-family: 'Bevan', cursive;
}

.nav-link {
    color: var(--white);
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: var(--black);
    border-bottom: 2px solid var(--white);
}

.navbar-nav .nav-link {
    text-align: center;
    padding: 30px 0;
}

.offcanvas-body {
    background-color: var(--dark-red);
    display: flex;
    align-items: flex-start;
}

.offcanvas-header {
    justify-content: flex-end;
    height: 66px;
    background-color: var(--dark-red);
}

.offcanvas-header .btn-close {
    margin-right: 0.6rem;
}

.offcanvas-end{
    border: 10px solid var(--dark-red);
}
.navbar-toggler {
    color: var(--white);
    border-color: var(--dark-red);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background-color: var(--white);
    transition: transform 250ms ease-in-out;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    right: 0;
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}

/*------------------------------------ hero page styling */
.hero-page {
    background-color: var(--dark-red);
    height: 100vh;
    display: flex;
    align-content: center;
    padding: 0;
}

.side-bar {
    border-right: 3px solid var(--black);
    display: flex;
    background-color: var(--dark-red);
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 10%;
}

.social-menu {
    padding-bottom: 60px;
}

.social-menu li {
    list-style: none;
    margin-bottom: 5px;
}

.social-menu li a {
    color: var(--white);
    font-size: 20px;

}

.social-menu li a:hover {
    color: var(--black);
}

.col {
    width: 90%;
    margin-left: 10%;
    padding: 2% 2% 5% 2%;
    background-color: var(--dark-red);
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.hero-text-box {
    padding: 10%;
    color: var(--white);
}

.hr-txt2 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(40px, 8vw, 60px);
}

.hr-txt4 {
    margin: 20px 0px 0px;
    max-width: 540px;
}

.base {
    width: 90%;
    height: 3px;
    background-color: var(--black);
    position: absolute;
    bottom: 40px;
}

.base2 {
    width: 100%;
    height: 3px;
    background-color: var(--black);
}

.circle1 {
    width: 60px;
    height: 60px;
    background-color: var(--black);
    border-radius: 50%;
    position: absolute;
    right: 45px;
    bottom: 45px;
}

.circle2 {
    width: 70px;
    height: 70px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.circle3 {
    width: 40px;
    height: 40px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 65px;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    z-index: 300;
    font-family: 'Ceviche One', cursive;
    align-items: center;
    justify-content: center;
}

.side {
    width: 10px;
    height: 30vh;
    background-color: var(--dark-red);
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: var(--white);
    right: 70px;
    bottom: 120px;
}

.side a {
    font-size: 12px;
    text-decoration: none;
    color: var(--white);
}

.side2 {
    width: 3px;
    height: 10vh;
    background-color: var(--black);
    position: absolute;
    right: 70px;
    bottom: 120px;
}

/*------------------------------------ about page styling */
.about-text {
    width: 590px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    z-index: 2;
    padding: 20px 20px 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 100%);
}

.about-image {
    width: 328px;
    background-color: var(--red);
    margin-left: -20px;
    box-shadow: 5px 4px 4px rgb(0 0 0 / 100%);
}

#picture-me {
    width: 100%;
}

/*------------------------------------ project section styling */
.project-header {
    width: 90%;
    margin: 0 0 0 10%;
    background-color: var(--dark-red);
    display: flex;
    color:var(--white);
}
.project-header h3{
    margin: 0 0 0 2%;
    padding-top: 5%;
}

.project-img {
    width: 70%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 100%);
}

.project-img img {
    width: 100%;
}

.project-info-card {
    margin-left: -150px;
    width: 60%;
    background-color: hsla(9, 100%, 64%, 0.5);
    padding: 20px;
    border-radius: 5px;
    color: var(--white);
}

.project-intro {
    text-align: right;
    margin: 10px 0px;
}

.project-title {
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.project-description {
    text-align: justify;
    padding: 25px;
    border-radius: 5px;
    background-color: var(--red);
}

.project-languages {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

.project-languages li {
    padding: 10px 20px;
    margin-right: 10px;
}

.project-links {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

}

.project-links a {
    padding: 5px;
    margin: 0px 20px;
    color: var(--white);
}

.project-links a:hover {
    color: var(--black);
}

#lotusforever {
    margin: 0;
    margin-right: -150px;
    z-index: 1;
}

.reverse {
    text-align: left;
}

.reverse-flex {
    justify-content: flex-start;
}

.others {
    justify-content: space-evenly;
}

.card {
    margin: 10px;
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 100%);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

/*------------------------------------ contact styling */
.container {
    text-align: center;
    color: var(--white);
}

.contact-text-big {
    font-size: clamp(40px, 8vw, 50px);
}

.phone-number {
    margin-left: 10px;
    text-decoration: none;
    color: var(--white);
}

.phone-number:hover {
    color: var(--light-red);
}

.btn-light {
    font-weight: bold;
    transition: 0.2s;
}

.btn-light:hover {
    color: var(--white);
    background-color: var(--light-red);
    border-color: var(--light-red);
}

/*------------------------------------ modal styling */
.modal {
    color: var(--white);
}

.modal-content {
    background-color: var(--dark-red);
}

.modal-text {
    padding: 10px 0;
}

.form-control {
    background-color: var(--bright-red);
    border: var(--dark-red);
}

/*------------------------------------ footer styling starts here */
.footer {
    background-color: var(--dark-red);
    color: var(--white);
    width: 90%;
    margin-left: 10%;
}

#social-menu,
.copyright {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

#copyright-text {
    margin: 0;
}

#social-menu li {
    padding: 0 20px;
}

/*------------------------------------ media screen styling starts here */
@media screen and (max-width: 768px) {

    .side-bar,
    .fancy {
        display: none;
    }

    .project-header, .col,
    .footer {
        width: 100%;
        margin: 0;
    }

    .about {
        display: block;
        text-align: center;
    }

    .about-boxes {
        margin: auto;
    }

    .about-text {
        width: 90%;
    }

    .about-image {
        width: 50%;
        margin-top: -10px;
    }

    .project {
        display: block;
    }

    .project-info-card,
    #lotusforever {
        width: 90%;
        margin: auto;
        z-index: 1;
    }

    .project-img {
        margin: auto;
        width: 60%;
    }
}

@media screen and (max-width: 290px) {
    .hero-text-box {
        padding: 0;
    }
}