@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Ceviche+One&family=Exo:wght@200;300;400&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

/* navbar styling */
.navbar {
    background-color: #01090D;
}

.navbar-brand {
    margin-left: 1rem;
    margin-right: 0;
    font-size: 26px;
    color: #fff;
}

.logo1 {
    font-family: 'Ceviche One', cursive;
}

.logo2 {
    font-family: 'Bevan', cursive;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: red;
    border-bottom: 2px solid #fff;
}

.navbar-nav .nav-link {
    text-align: center;
}

.offcanvas-body {
    background-color: #733238;
}

.offcanvas-header {
    justify-content: flex-end;
    height: 66px;
}

.offcanvas-header .btn-close {
    margin-right: 0.6rem;
}

.navbar-toggler {
    color: #fff;
    border-color: #01090D;
    /* background-color: red; */
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background-color: red;
    transition: transform 250ms ease-in-out;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    right: 0;
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}

/* hero page styling */
.hero-page {
    /* background-color: bisque; */
    background-color: #01090D;
    height: 100vh;
    display: flex;
    align-content: center;
    padding: 0;
}

.side-bar {
    display: flex;
    background-color: #01090D;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 10%;
}

.social-menu {
    padding-bottom: 60px;
}

.social-menu li {
    list-style: none;
    margin-bottom: 5px;
}

.social-menu li a {
    color: aqua;
    font-size: 20px;

}

.social-menu li a:hover {
    color: yellow
}

.col {
    width: 90%;
    margin-left: 10%;

}

.col-hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.base {
    width: 90%;
    height: 3px;
    background-color: #80F8FF;
    position: absolute;
    bottom: 40px;
}

.circle1 {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 45px;
    bottom: 45px;
}
.circle2{
    width: 70px;
    height: 70px;
    background-color: #80F8FF;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.circle3{
    width: 40px;
    height: 40px;
    background-color: #80F8FF;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 65px;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    z-index: 300;
    font-family: 'Ceviche One', cursive;
    align-items: center;
    justify-content: center;
}

.side {
    width:10px;
    height: 30vh;
    background-color:#01090D;
    position:absolute;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color:#fff;
    right:70px;
    bottom:120px;
}
.side a{
    font-size: 12px;
    text-decoration: none;
    color:#fff;

}
.side2{
    width:3px;
    height: 10vh;
    background-color:#80F8FF;
    position:absolute;
    right:70px;
    bottom:120px;
}
/* about page styling */
.about {
    height: 100vh;
    background-color: aquamarine;
}

.hero-text-box {
    padding: 10%;
    color: #fff;
}

.hr-txt2 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(40px, 8vw, 60px);
}

.hr-txt4 {
    margin: 20px 0px 0px;
    max-width: 540px;

}

@media screen and (max-width: 768px) {
    .side-bar, .fancy {
        display: none;
    }

    .col {
        width: 100%;
        margin: 0;
    }
}

.animation {
    /* margin-top: 10px;
    font-size: 3rem;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px #000, 0 0 25px #3901FF, 0 0 5px #210099;
    color: #FFF7F8; */
    transition: .3s ease-out;
}

.animation:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    color: #fffe97;
}