@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Ceviche+One&family=Exo:wght@200;300;400&family=Roboto:wght@400;500;700&display=swap');

:root {
    --dark-red: #8C1616;
    --red: #BF1F1F;
    --black: #01090D;
    --white: #e6f1ff;
    --green: #80F8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

/* navbar styling */
.navbar {
    background-color: var(--dark-red);
}

.navbar-brand {
    margin-left: 1rem;
    margin-right: 0;
    font-size: 26px;
    color: var(--white);
}

.logo1 {
    font-family: 'Ceviche One', cursive;
}

.logo2 {
    font-family: 'Bevan', cursive;
}

.nav-link {
    color: var(--white);
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: var(--black);
    border-bottom: 2px solid var(--white);
}

.navbar-nav .nav-link {
    text-align: center;
}

.offcanvas-body {
    background-color: var(--dark-red);
}

.offcanvas-header {
    justify-content: flex-end;
    height: 66px;
}

.offcanvas-header .btn-close {
    margin-right: 0.6rem;
}

.navbar-toggler {
    color: var(--white);
    border-color: var(--dark-red);
    /* background-color: red; */
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background-color: var(--white);
    transition: transform 250ms ease-in-out;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    right: 0;
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}

/* hero page styling */
.hero-page {
    /* background-color: bisque; */
    background-color: var(--dark-red);
    height: 100vh;
    display: flex;
    align-content: center;
    padding: 0;
}

.side-bar {
    border-right: 3px solid var(--black);
    display: flex;
    background-color: var(--dark-red);
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 10%;
}

.social-menu {
    padding-bottom: 60px;
}

.social-menu li {
    list-style: none;
    margin-bottom: 5px;
}

.social-menu li a {
    color: var(--white);
    font-size: 20px;

}

.social-menu li a:hover {
    color: var(--green);
}

.col {
    width: 90%;
    /* height: 100vh; */
    margin-left: 10%;
    padding: 5% 10px;
    background-color: var(--dark-red);
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.hero-text-box {
    padding: 10%;
    color: var(--white);
}

.hr-txt2 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(40px, 8vw, 60px);
}

.hr-txt4 {
    margin: 20px 0px 0px;
    max-width: 540px;
}

.base {
    width: 90%;
    height: 3px;
    background-color: var(--black);
    position: absolute;
    bottom: 40px;
}

.circle1 {
    width: 60px;
    height: 60px;
    background-color: var(--black);
    border-radius: 50%;
    position: absolute;
    right: 45px;
    bottom: 45px;
}

.circle2 {
    width: 70px;
    height: 70px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.circle3 {
    width: 40px;
    height: 40px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 65px;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    z-index: 300;
    font-family: 'Ceviche One', cursive;
    align-items: center;
    justify-content: center;
}

.side {
    width: 10px;
    height: 30vh;
    background-color: var(--dark-red);
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: var(--white);
    right: 70px;
    bottom: 120px;
}

.side a {
    font-size: 12px;
    text-decoration: none;
    color: var(--white);
}

.side2 {
    width: 3px;
    height: 10vh;
    background-color: var(--black);
    position: absolute;
    right: 70px;
    bottom: 120px;
}

/* about page styling */
.about {
    /* background-color: var(--dark-red);
    display: flex;
    align-items: center;
    justify-content: center; */
}

.about-text {
    width: 590px;
    background-color: var(--red);
    color: var(--white);
    z-index: 2;
    padding: 20px 20px 40px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 100%);
}

.about-image {
    width: 328px;
    background-color: var(--red);
    margin-left: -20px;
    box-shadow: 5px 4px 4px rgb(0 0 0 / 100%);
}

#picture-me {
    width: 100%;
    /* height: 60vh; */
}

/* project section styling */
.project {
/* background-color: blueviolet;
display: flex;
align-items: center;
justify-content: center;
padding: 20px; */
}
.project-img{
    /* display: inline-block; */
    width: 70%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 100%);
}
.project-img img{
    width: 100%;
}

.project-info-card {
    margin-left: -150px;
    width: 60%;
    /* height: 40vh; */
    background-color:hsla(9, 100%, 64%, 0.5);
    /* display: flex; */
    padding: 20px;
    border-radius: 10px;
    color: var(--white);
}
.project-intro{
    text-align: right;
    margin: 10px 0px;
}
.project-title{
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
.project-description{
    text-align: justify;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--red);
}
.project-languages{
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}
.project-languages li{
    padding: 10px 20px;
    margin-right: 10px;
}
.project-links{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
.project-links a{
    padding: 5px;
    margin-right: 20px
}
#lotusforever{
    margin: 0;
    margin-right: -150px;
    z-index: 1;
}
.reverse{
    text-align: left;
}
.reverse-flex{
    justify-content: flex-start;
}
/* media screen styling starts here */
@media screen and (max-width: 768px) {

    .side-bar,
    .fancy {
        display: none;
    }

    .col {
        width: 100%;
        margin: 0;
    }

    .about {
        display: block;
        text-align: center;
    }

    .about-boxes {
        margin: auto;
    }

    .about-text {
        width: 90%;
    }

    .about-image {
        width: 50%;
        margin-top: -10px;
    }
    .project{
        display: block;
    }
    .project-info-card, #lotusforever{
        width: 90%;
margin: auto;
z-index: 1;
    }
    .project-img{
margin: auto;
width: 60%;
    }
}